{% extends 'base.html' %}

{% block book_update_content %}

<div class="container">
  <div class="row" style="margin-bottom: 60px; margin-left: 100px; margin-right: 100px;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 style="font-weight: bold;">Update Book Info</h3>
        </div>

        <div class="card-body">

          <form action ="/book_info/update_book_info" method="POST">
            <!-- Name Field -->
            <div class="form-group">
              <label for="book_name" style="font-weight: bold; color: #333333;">Name</label>
              <input type="text" class="form-control" id="book_name" name="book_name" placeholder="Book Name"
                value="{{ library_book.name }}">
            </div>

            <!-- ID Field -->
            <div class = "form-group">
              <label for="book_id" style="font-weight: bold; color: #333333;">ID</label>
              <input type="text" class="form-control" id="book_id" name="book_id" value="{{ library_book.book_id}}" readonly>
            </div>

            <!-- Author Field -->
            <div class="form-group">
              <label for="book_author" style="font-weight: bold; color: #333333;">Author</label>
              <input type="text" class="form-control" id="book_author" name="book_author" placeholder="Book Author"
                value="{{ library_book.author }}">
            </div>

            <!-- Genre Field -->
            <div class="form-group">
              <label for="book_genre" style="font-weight: bold; color: #333333;">Genre</label>
              <input type="text" class="form-control" id="book_genre" name="book_genre" placeholder="Book Genre"
                value="{{ library_book.genre }}">
            </div>

            <!-- Update Button -->
            <button type="submit" class="btn btn-warning btn-block"
              style="padding: 10px 20px; font-size: 18px; margin-top: 16px; margin-left: 370px;">
              UPDATE
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
              
{% endblock %}