{% extends 'base.html' %}

{% block input_content %}

<div class="container">
    <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-6">
            <!--The book input-->
            <div class="card"
                style="border: solid 2px black; padding: 0 10px 10px 10px; margin-top: 10px; background-color:#F5F5DC ;">

                <div class="card-header">
                    <h3 style="font-weight: 10px; border: bold 2px black;">Create Book</h3>
                </div>

                <div class="card-body" style="background-color: #F5F5DC;">
                    <form method="POST">
                        <div class="form-group">
                            <label for="book_name" style="font-weight: bold;">Name</label>
                            <input type="text" class="form-control" id="book_name" name="book_name"
                                placeholder="Book Name">
                        </div>

                        <div class="form-group" style="font-weight: bold;">
                            <label for="book_author">Author</label>
                            <input type="text" class="form-control" id="book_author" placeholder="Book Author">
                        </div>

                        <div>
                            <label for="book_genre" style="font-weight: bold;">Genre</label>
                            <input type="text" class="form-control" id="book_genre" placeholder="Book Genre">
                        </div>

                        <button type="submit" class="btn btn-primary"
                            style="margin-left: 196px; margin-top: 173px; padding: 10px 20px; font-size: 18px;">CREATE</button>
                    </form>
                </div>
            </div>
        </div>



        <!--The user input-->
        <div class="col-md-6">
            <div class="card"
                style="border: solid 2px black; padding: 0 10px 10px 10px; margin-top: 10px; background-color: #F5F5DC">

                <div class="card-header">
                    <h3 style="font-weight: 10px; border: bold 2px black;">Create User</h3>
                </div>

                <div class="card-body" style="background-color: #F5F5DC">

                    <form>
                        <div class="form-group">
                            <label for="user_name" style="font-weight: bold; color: #333333;">Name</label>
                            <input type="text" class="form-control" id="user_name" name="user_name"
                                placeholder="User Name">
                        </div>

                        <div>
                            <label for="user_ssn" style="font-weight: bold; color: #333333;">Person Number</label>
                            <input type="number" class="form-control" id="user_ssn" placeholder="User Person Number">
                        </div>


                        <div class="form-group" style="font-weight: bold; color: #333333;">
                            <label for="user_email">Email</label>
                            <input type="email" class="form-control" id="user_email" placeholder="User Email">
                        </div>


                        <div>
                            <label for="user_phone" style="font-weight: bold; color: #333333;">Phone Number</label>
                            <input type="number" class="form-control" id="user_phone" placeholder="User Phone Number">
                        </div>


                        <div>
                            <label for="user_address" style="font-weight: bold; color: #333333;">Address</label>
                            <input type="text" class="form-control" id="user_address" placeholder="User Address">
                        </div>

                    <button type="submit" class="btn btn-primary"
                        style="margin-left: 196px; margin-top: 50px; padding: 10px 20px; font-size: 18px;">CREATE</button>
                    </form>
                </div>
            </div>

        </div>
    </div>




    <!-- This will ask for the user to create a loan-->

    <div class="row" style="margin-top: 100px;">
    
        <div class="col-md-6">
            <div class="card"
                style="border: solid 2px black; padding: 0 10px 10px 10px; margin-top: 10px;  background-color: #F5F5DC";>
                <div class="card-header">
                    <h3 style="font-weight: bold;">Make Loan</h3>
                </div>
                <div class="card-body" style="background-color: #F5F5DC;">
                    <form>
                        <div class="form-group">
                            <label for="book_id" style="font-weight: bold; color: #333333;">Book ID</label>
                            <input type="text" class="form-control" id="book_id" name="book_id"
                                placeholder="Check Book ID in Available Books">
                        </div>
                        <div class="form-group">
                            <label for="user_person_num" style="font-weight: bold; color: #333333;">Person Number</label>
                            <input type="text" class="form-control" id="user_person_num" name="user_person_num"
                                placeholder="Person Number">
                        </div>
    
                        <button type="submit" class="btn btn-success btn-block"
                            style="padding: 10px 20px; font-size: 18px; margin-top: 25px; margin-left: 196px;">LOAN</button>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="card"
                style="border: solid 2px black; padding: 0 10px 10px 10px; margin-top: 10px; background-color:#F5F5DC;">
                <div class="card-header">
                    <h3 style="font-weight: bold;">User Info</h3>
                </div>
    
                <div class="card-body" style="background-color: #F5F5DC;">
                    <form>
                        <div class="form-group">
                            <label for="user_info_person_num" style="font-weight: bold; color: #333333;">Person
                                Number</label>
                            <input type="text" class="form-control" id="user_info_person_num" name="user_info_person_num"
                                placeholder="Person Number">
                        </div>
                        <button type="submit" class="btn btn-success btn-block"
                            style="padding: 10px 20px; font-size: 18px; margin-top: 86px; margin-left: 196px;">GET INFO</button>
                    </form>
    
                </div>
    
            </div>
    
        </div>
    
    </div>

 


   
     

 

</div>

{% endblock %}